.main {
  padding: 0;

  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100svh;
  grid-template-columns: repeat(8, 1fr);
  column-gap: var(--spacing-s);
  flex: 1;
  align-content: center;
}

.header {
  margin-bottom: var(--spacing-s);

  display: flex;
  justify-content: center;
}

.main > * {
  padding: var(--spacing-xl) var(--spacing-m);

  display: flex;
  flex-direction: column;

  min-width: 288px;
  flex: 1;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.card {
  padding: var(--spacing-xl) var(--spacing-m);

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100svh;

  background-color: var(--color-white);
  row-gap: var(--spacing-s);
  align-content: center;
}

@media (width >= 480px) {
  .main {
    padding: 0 32px;

    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100svh;
    flex: 1;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--spacing-s);
    align-content: center;
  }

  .main > * {
    padding: var(--spacing-xl) var(--spacing-m);

    display: flex;
    flex-direction: column;

    min-width: 288px;
    flex: 1;
    grid-row: 1 / span 1;
    grid-column: 4 / span 5;
  }

  .card {
    padding: var(--spacing-xl) var(--spacing-m);

    min-width: 360px;
    max-width: 360px;
    height: unset;

    background-color: var(--color-white);
    border-radius: var(--border-radius-m);
    box-shadow: var(--box-shadow);
    justify-self: center;
    grid-column: 4 / 10;
  }
}
