@import url('./variables.css');
@import url('./sizes.css');
@import url('./typography.css');

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-family);

  color: var(--color-text);
  background: var(--color-background);
}

button {
  display: flex;

  cursor: pointer;

  background-color: inherit;
  border: none;
}
