.async {
  position: relative;

  overflow: hidden;
}

.loader {
  position: absolute;
  z-index: var(--z-index-2);
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(255 255 255 / 50%);
  align-content: center;
}
